/* Coolors Exported Palette - coolors.co/704e2e-79745c-e6f8b2-cde77f-709176 */

$color1: #704e2e; //rgba(112, 78, 46, 100)
$color2: #79745c; //rgba(121, 116, 92, 100)
$color3: #e6f8b2; //rgba(230, 248, 178, 100)
$color4: #cde77f; //rgba(205, 231, 127, 100)
$color5: #709176; //rgba(112, 145, 118, 100)