/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:700);*/
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$brown: #704E2E;
$light-brown: #79745C;
$green: #709176;

$navbar-inverse-bg: $brown;
$gray-light: #E6F8B2;

$headings-font-family: 'Fredericka the Great', Helvetica, Arial, sans-serif;
$font-family-base: 'Roboto', Open Sans;
$font-size-base: 16px;
$brand-primary: $green;
$input-border-focus: $green;
$link-hover-decoration: none;
$table-border-color: $light-brown;

$panel-bg: #f6f6f6;
$panel-border-radius: 0px;
$panel-body-padding: 20px;

.margin-top {
	margin-top: 2em;
}

.margin-bottom {
	margin-bottom: 2em;
}

@import "bootstrap-sprockets";
@import "bootstrap";